body {
    background-image: url(https://static.republika.co.id/uploads/images/inpicture_slide/cyberpunk_210617222118-431.jpg);
    background-size: cover;
}

.navbar {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    padding: 5px 12px;
    border: 2px solid black;
    align-items: center;
    border-radius: 20px;
}

.nav-logo a {
    text-decoration: none;
    color: blueviolet;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul a {
    text-decoration: none;
    color: #000000;
    padding: 8px;
}

.main {
    padding-top: 20px;
    font-size: 24px;
}

table {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    margin-top: 30px;
}

th,td {
    text-align: left;
    padding: 10px;
}

a.tambah {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    background: blue;
}

a.verif {
    padding: 10px;
    color: #3000b4;
    text-decoration: none;
    border-radius: 5px;
    background: #ffffff;
}

a.reject {
    padding: 10px;
    color: #3000b4;
    text-decoration: none;
    border-radius: 5px;
    background: #ffffff;
}
a.edit {
    padding: 10px;
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    background: green;
}

a.hapus {
    padding: 10px;
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    background: red;
}

.box {
    height: 100%;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background: #4CAF50;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}